.button
{
    -fx-background-color : #fd9898;
    -fx-text-fill: #6d7185;

}
.button:hover{
    -fx-background-color : #fab2b2;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 3px; 
    -fx-text-fill: rgb(255, 255, 255);
}
.button1
{
    -fx-background-color : #353a55;
    -fx-text-fill: #6d7185;

}
.button1:hover{
    -fx-background-color : #303551;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 3px; 
    -fx-text-fill: rgb(255, 255, 255);
}
.button-next{
    -fx-background-color: #738cf2;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-text-fill : #6d7185;
}
.button-next:hover{
    -fx-background-color : #5373f5;
    -fx-text-fill : #ffffff;
}
.button2
{
    -fx-background-color : #b8b8b8;
}
.button2:hover
{
    -fx-background-color:  #898989;
}
.button2:pressed
{
    -fx-background-color: #4d4c4c;
}
.textfield
{
    -fx-background-color : #ffffff;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;


}
.textfield:hover{
    -fx-background-color : #b8b8b8;
    
}

.date-picker
{
    -fx-background-color : #ffffff;


}
.date-picker:hover{
    -fx-background-color : #b8b8b8;
    
}

.button3
{
    -fx-background-color : #738cf2;
    -fx-text-fill: #6d7185;
    
}
.button3:hover
{
    -fx-background-color: #b0bef6 ;
    -fx-background-radius: 30px;
    -fx-border-radius : 30px;
    -fx-text-fill: #ffffff;

}
.button4:hover
{
   -fx-background-color:  #141414;
  -fx-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  -fx-transform: translate3d(0, 0, 0);
  -fx-backface-visibility: hidden;
  -fx-perspective: 1000px;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 100, 53, 0.8), 10, 0, 0, 0);
}
.button-arrow{
    -fx-background-color:  #fd9898;
}
.button-arrow:hover{
    -fx-background-color: #fab2b2;
}
.logo-pane{
    -fx-background-color : #738cf2;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 3px; 
}
.logo-pane:hover{
    -fx-background-color : #5373f5;
}
.main-pane{
    -fx-background-color : #ebeef4;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-width: 3px;    
}

.left-pane{
    -fx-background-color : #353a55;
    -fx-border-radius: 30px;
    -fx-background-radius: 28px;
    -fx-border-width: 3px; 
}
.pane-left-2
{
    -fx-background-color : #ffffff;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 3px; 
}
.pane-right{
    -fx-background-color : #303551;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}
.pane-mockup
{
    -fx-background-color : #ffffff;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 3px; 
}
.pane-left-1
{
    -fx-background-color : #738cf2;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 3px; 
}
.pane-radius
{
    -fx-background-color: #2b2b2b;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-width: 3px;
    -fx-border-color: black;
}
.pane-radius2
{
    -fx-background-color: #e0bf1b;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-width: 3px;
    -fx-border-color: black;
}
.pane-zadanie
{
    -fx-background-color:  #fd9898;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
   
}
.pane-left-3
{
    -fx-background-color : #fd9898;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 3px; 
}



.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #2D75E8;
}
.table-view .column-header .label{

   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
  -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;
 
 }
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(  #2D75E8,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}